<h3>Add New Ingrediant</h3>
<form class="col-sm-6">
  <div class="mb-3">
    <label for="ingrediantName" class="form-label">Name</label>
    <input type="text" class="form-control" id="ingrediantName">
  </div>
  <div class="mb-3">
    <label for="ingrediantAmount" class="form-label">Amount`</label>
    <input type="text" class="form-control" id="ingrediantAmount">
  </div>
  <button type="button" class="me-3 btn btn-success">Add</button>
  <button type="button" class="me-3 btn btn-primary">Edit</button>
  <button type="button" class="me-3 btn btn-danger">Remove</button>
  <button type="button" class="btn btn-secondary">clear</button>
</form>
